In [1]:
import dash
import pandas as pd
import plotly.express as px
from dash import dcc
from dash import html
from dash.dependencies import Input, Output

In [2]:
app = dash.Dash(__name__)

In [3]:
df = pd.read_csv("resources/census-historic-population-borough.csv")

In [4]:
df.head()

,Area Code,Area Name,Persons-1801,Persons-1811,Persons-1821,Persons-1831,Persons-1841,Persons-1851,Persons-1861,Persons-1871,...,Persons-1921,Persons-1931,Persons-1939,Persons-1951,Persons-1961,Persons-1971,Persons-1981,Persons-1991,Persons-2001,Persons-2011
0,00AA,City of London,129000,121000,125000,123000,124000,128000,112000,75000,...,14000,11000,9000,5000,4767,4000,5864,4230,7181,7375
1,00AB,Barking and Dagenham,3000,4000,5000,6000,7000,8000,8000,10000,...,44000,138000,184000,189000,177092,161000,149786,140728,163944,185911
2,00AC,Barnet,8000,9000,11000,13000,14000,15000,20000,29000,...,147000,231000,296000,320000,318373,307000,293436,284106,314565,356386
3,00AD,Bexley,5000,6000,7000,9000,11000,12000,15000,22000,...,76000,95000,179000,205000,209893,217000,215233,211404,218301,231997
4,00AE,Brent,2000,2000,3000,3000,5000,5000,6000,19000,...,184000,251000,310000,311000,295893,281000,253275,227903,263466,311215

In [5]:
year_to_col_name_mapping = {

}

for colname in df.columns[2:]:
    year_to_col_name_mapping[colname[-4:]] = colname


year_to_col_name_mapping

{'1801': 'Persons-1801',
 '1811': 'Persons-1811',
 '1821': 'Persons-1821',
 '1831': 'Persons-1831',
 '1841': 'Persons-1841',
 '1851': 'Persons-1851',
 '1861': 'Persons-1861',
 '1871': 'Persons-1871',
 '1881': 'Persons-1881',
 '1891': 'Persons-1891',
 '1901': 'Persons-1901',
 '1911': 'Persons-1911',
 '1921': 'Persons-1921',
 '1931': 'Persons-1931',
 '1939': 'Persons-1939',
 '1951': 'Persons-1951',
 '1961': 'Persons-1961',
 '1971': 'Persons-1971',
 '1981': 'Persons-1981',
 '1991': 'Persons-1991',
 '2001': 'Persons-2001',
 '2011': 'Persons-2011'}

In [6]:


app.layout = html.Div([
    html.H1("London population evolution by borough"),
    dcc.Dropdown(
        id="select-year",
        options=year_to_col_name_mapping,
        multi=False,
        value=2011,
        style={'width': "40%"}
    ),

    # the div below is where our output graph will eventually lie
    html.Div(id='output-container',
             children=[]),

    dcc.Graph(id='choropleth-map',
              figure={})
])

In [8]:
if __name__ == '__main__':
    app.run_server(debug=False)

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:8050
Press CTRL+C to quit