In [1]:
import pandas as pd
import plotly.express as px
import json

In [2]:
import plotly.io as pio
pio.renderers.default = "browser" # to save space in the jupyter notebook

In [3]:
london_boroughs = json.load(open("resources/london_boroughs.json", "r"))
population_data = pd.read_csv("resources/census-historic-population-borough.csv")
population_2011 = population_data[["Area Name", "Persons-2011"]]

population_2011 = population_2011.drop([33, 34, 35])
features = london_boroughs["features"]
population_2011

                 Area Name  Persons-2011
0           City of London          7375
1     Barking and Dagenham        185911
2                   Barnet        356386
3                   Bexley        231997
4                    Brent        311215
5                  Bromley        309392
6                   Camden        220338
7                  Croydon        363378
8                   Ealing        338449
9                  Enfield        312466
10               Greenwich        254557
11                 Hackney        246270
12  Hammersmith and Fulham        182493
13                Haringey        254926
14                  Harrow        239056
15                Havering        237232
16              Hillingdon        273936
17                Hounslow        253957
18               Islington        206125
19  Kensington and Chelsea        158649
20    Kingston upon Thames        160060
21                 Lambeth        303086
22                Lewisham        275885
23                  Merton        199693
24                  Newham        307984
25               Redbridge        278970
26    Richmond upon Thames        186990
27               Southwark        288283
28                  Sutton        190146
29           Tower Hamlets        254096
30          Waltham Forest        258249
31              Wandsworth        306995
32             Westminster        219396

In [8]:
borough_dict = {}

for feature in london_boroughs['features']:
    feature['id'] = feature["properties"]["id"]
    borough_dict[feature["properties"]["name"]] = feature["id"]

borough_dict

{'Kingston upon Thames': 1,
 'Croydon': 2,
 'Bromley': 3,
 'Hounslow': 4,
 'Ealing': 5,
 'Havering': 6,
 'Hillingdon': 7,
 'Harrow': 8,
 'Brent': 9,
 'Barnet': 10,
 'Lambeth': 11,
 'Southwark': 12,
 'Lewisham': 13,
 'Greenwich': 14,
 'Bexley': 15,
 'Enfield': 16,
 'Waltham Forest': 17,
 'Redbridge': 18,
 'Sutton': 19,
 'Richmond upon Thames': 20,
 'Merton': 21,
 'Wandsworth': 22,
 'Hammersmith and Fulham': 23,
 'Kensington and Chelsea': 24,
 'Westminster': 25,
 'Camden': 26,
 'Tower Hamlets': 27,
 'Islington': 28,
 'Hackney': 29,
 'Haringey': 30,
 'Newham': 31,
 'Barking and Dagenham': 32,
 'City of London': 33}

In [5]:
population_2011["id"] = population_2011["Area Name"].apply(lambda x : borough_dict[x])
population_2011

                 Area Name  Persons-2011  id
0           City of London          7375  33
1     Barking and Dagenham        185911  32
2                   Barnet        356386  10
3                   Bexley        231997  15
4                    Brent        311215   9
5                  Bromley        309392   3
6                   Camden        220338  26
7                  Croydon        363378   2
8                   Ealing        338449   5
9                  Enfield        312466  16
10               Greenwich        254557  14
11                 Hackney        246270  29
12  Hammersmith and Fulham        182493  23
13                Haringey        254926  30
14                  Harrow        239056   8
15                Havering        237232   6
16              Hillingdon        273936   7
17                Hounslow        253957   4
18               Islington        206125  28
19  Kensington and Chelsea        158649  24
20    Kingston upon Thames        160060   1
21                 Lambeth        303086  11
22                Lewisham        275885  13
23                  Merton        199693  21
24                  Newham        307984  31
25               Redbridge        278970  18
26    Richmond upon Thames        186990  20
27               Southwark        288283  12
28                  Sutton        190146  19
29           Tower Hamlets        254096  27
30          Waltham Forest        258249  17
31              Wandsworth        306995  22
32             Westminster        219396  25

There are currently two options to show the map:
1) Show city outline without the rest of the world (i.e. dashboard only displays London)
2) Show city choropleth map with the rest of the world behind.

Option 1

In [6]:
fig = px.choropleth(population_2011,
                    locations="id",
                    geojson=london_boroughs,
                    color="Persons-2011",
                    hover_name="Area Name",
                   scope="europe")
fig.update_geos(fitbounds="locations", visible=False)
fig.show()

Option 2

In [7]:
display(population_2011)
fig = px.choropleth_mapbox(population_2011,
                    locations="id",
                    geojson=london_boroughs,
                    color="Persons-2011",
                    hover_name="Area Name",
                    mapbox_style="carto-positron",
                    center={
                          'lat': 51.5,
                          'lon': -0.11
                      },
                    zoom=9,
                    opacity = 1

)
fig.show()

                 Area Name  Persons-2011  id
0           City of London          7375  33
1     Barking and Dagenham        185911  32
2                   Barnet        356386  10
3                   Bexley        231997  15
4                    Brent        311215   9
5                  Bromley        309392   3
6                   Camden        220338  26
7                  Croydon        363378   2
8                   Ealing        338449   5
9                  Enfield        312466  16
10               Greenwich        254557  14
11                 Hackney        246270  29
12  Hammersmith and Fulham        182493  23
13                Haringey        254926  30
14                  Harrow        239056   8
15                Havering        237232   6
16              Hillingdon        273936   7
17                Hounslow        253957   4
18               Islington        206125  28
19  Kensington and Chelsea        158649  24
20    Kingston upon Thames        160060   1
21                 Lambeth        303086  11
22                Lewisham        275885  13
23                  Merton        199693  21
24                  Newham        307984  31
25               Redbridge        278970  18
26    Richmond upon Thames        186990  20
27               Southwark        288283  12
28                  Sutton        190146  19
29           Tower Hamlets        254096  27
30          Waltham Forest        258249  17
31              Wandsworth        306995  22
32             Westminster        219396  25

In [ ]:
london_boroughs['features']